* {
    margin: 0;
    padding: 0;
}

.cajas {
    width: 200px;
    height: 200px;
    background-color: #00f;
    border: 5px solid #000;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#caja {
    background-color: #0f0;
    border: 5px dotted #000;
    border-radius: 100%;
    box-shadow: 20px 20px 0 #000;
}