* {
    margin: 0;
    padding: 0;
}

.cajas {
    width: 200px;
    height: 200px;
    background-color: #00f;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#caja {
    border-radius: 100%;
}